{% extends 'base.html' %}

{% block header %}
  {% if session['user'] %}
    <h1>Welcome {{session['user']['username']}} !</h1>
  {% else %}
    <h1>Welcome !</h1>
  {% endif %}
{% endblock %}

{% block content %}
<body>
  <button type="button" id="imcButton" onclick="window.location.href=`{{ url_for('imc') }}`">BMI calculator</button>
  {%if history%}
    <h1>History</h1>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weight</th>
          <th>Height</th>
          <th>BMI</th>
        </tr>
      </thead>
      {%for line in history%}
      <tbody>
        <td class="history_line">{{line[2]}}</td>
        <td class="history_line">{{line[0]}} cm</td>
        <td class="history_line">{{line[1]}} kg</td>
        <td class="history_line">{{imcList[history.index(line)]}}</td>
      </tbody>
      {%endfor%}
    </table>
  {%endif%}
</body>
{% endblock %}