{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="passwd">Mot de passe</label>
    <input type="password" name="passwd" id="passwd" required>
    <input type="submit" value="Log In">
    <a href="{{ url_for('register') }}">register</a>
    <br/>
    {% if message %}
        <a class="message">{{message}}</a>
    {% endif %}
    <br/>
    {% if error %}
    <p class="errorAuth">{{error}}</p>
    {% endif %}
    <br/>
  </form>
{% endblock %}