{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <button type="button" id="retour" onclick="window.location.href=`{{ url_for('main_page') }}`">Return</button>
  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="inputs" required>
    <label for="passwd">Password</label>
    <input type="password" name="passwd" id="passwd" class="inputs" required>
    <input type="submit" id="submitBtn" value="Log In">
    <a href="{{ url_for('register') }}" class="authSwitch">Register</a>
    <br/>
    {% if message %}
        <a class="message">{{message}}</a>
    {% endif %}
    <br/>
    {% if error %}
    <p class="errorAuth">{{error}}</p>
    {% endif %}
    <br/>
  </form>
{% endblock %}