{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <button type="button" id="return" onclick="window.location.href=`{{ url_for('main_page') }}`">Return</button>
  <form method="post" enctype="multipart/form-data">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="inputs" required>
    <label for="username">Username</label>
    <input name="username" id="username" class="inputs" required>
    <label for="passwd">Password</label>
    <input type="password" name="passwd" id="passwd" class="inputs" required>
    <input type="submit" id="submitBtn" value="Register">
    <a href="{{ url_for('login') }}" class="authSwitch">Login</a>
    <br/>    
    {% if error %}
    <p class="errorAuth">{{error}}</p>
    {% endif %}
    {% if message %}
      <a class="message">{{message}}</a>
    {% endif %}
  </form>
{% endblock %}